.container {
  position: relative;
  text-align: center;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f3f3f3;
  font-size: 45px;
  max-width: 100%;
  width: 100%;
  font-weight: 600;
}

.eh3 {
  text-align: center;
}

.eh3 h3 {
  color: rgb(65, 65, 65);
  font-size: 20px;
}

.eh3 p {
  color: rgb(65, 65, 65);
  font-size: 13px;
}

.seperator {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 25px 15px;
}
